<div class="row mt-2">
  <div class="col">
    <h5>{{request.name}}</h5>
    <div>{{request.surName}}</div>
    <div>{{request.middleName}}</div>
    <div>{{request.phoneNumber}}</div>
    <div>{{request.work}}</div>
    <div>{{request.select}}</div>
    <div>{{request.gender}}</div>
    <div>{{request.comment}}</div>
    <a type="submit" class="btn btn-warning" [routerLink]="['edit']" >Edit
    </a>
    <button style= "margin-left: 10px" (click)="deleteRequest()" type="submit" class="btn btn-danger">Delete
    </button>
  </div>
</div>
