
<div class="row mt-2">
  <div class="col">
    <h4>Manage requests</h4>
<div class="list-group">
  <a
    *ngFor="let request of requests"
    class="list-group-item list-group-item-action"
    [routerLink] = "['/requests', request.id]"
    routerLinkActive="active"
  >  {{ request.name }} {{request.surName}}  </a>
</div>
</div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>

