<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">T-shirts for all</a>

  <div class="navbar-expand">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/req1" class="nav-link">Register</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/requests" class="nav-link">Manage requests</a>
      </li>

    </ul>
  </div>
</nav>

