<h4 class="title">{{ isEdit ? 'Edit request' : 'Register' }}</h4>
<form [formGroup]="userForm"  (ngSubmit)="saveRequest()" class="form">
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      formControlName="name"
      id="name"
      class="form-control"
    />
    <small
      *ngIf="fieldHasError('name', 'required')"
      class="form-text invalid-form-text"
    >
      Enter your name!
    </small>
  </div>
  <div class="form-group">
    <label for="surname">Surname</label>
    <input
      type="text"
      formControlName="surName"
      id="surname"
      class="form-control"
    />

    <small
      *ngIf="fieldHasError('surName', 'required')"
      class="form-text invalid-form-text"
    >
      Enter your surname!
    </small>
  </div>
  <div class="form-group">
    <label for="middleName">Middle name</label>
    <input
      type="text"
      formControlName="middleName"
      id="middleName"
      class="form-control"
    />
    <small
      *ngIf="fieldHasError('middleName', 'required')"
      class="form-text invalid-form-text"
    >
      Enter your middle-name!
    </small>
  </div>
  <div class="form-group">
    <label for="phoneNumber"> Код вводить не надо, введите только  кода оператора (055, 077, 099)
    Например: 0551332234
    </label>
    <input
      type="text"
      formControlName="phoneNumber"
      id="phoneNumber"
      class="form-control"
      placeholder="Only numb with code 055,077, 099 works"
    />
    <small
      *ngIf="fieldHasError('phoneNumber', 'required')"
      class="form-text invalid-form-text"
    >
      Enter a phone number !
    </small>
    <small
      *ngIf="fieldHasError('phoneNumber', 'maxlength')"
      class="form-text invalid-form-text"
    >
      You have exceeded maximum length of numbers!
    </small>
    <small
      *ngIf="fieldHasError('phoneNumber', 'phoneNumber')"
      class="form-text invalid-form-text"
    >
      Enter a proper phone Number, according to message !
    </small>
  </div>
  <div class="form-group">
    <label for="work">Place of work</label>
    <input
      type="text"
      formControlName="work"
      id="work"
      class="form-control"
    />
    <small
      *ngIf="fieldHasError('work', 'required')"
      class="form-text invalid-form-text"
    >
      Please enter your place of work!
    </small>
  </div>
  <div style="text-align: center"><b>Type of T-shirt </b></div>
  <div class="form-check">
    <input formControlName="gender" value="men" class="form-check-input" type="radio" id="flexRadioDefault1"
    >
    <label class="form-check-label" for="flexRadioDefault1">
      Men
    </label>
    <div>
      <input formControlName="gender" value="woman" class="form-check-input" type="radio" id="flexRadioDefault2"
             checked>
      <label class="form-check-label" for="flexRadioDefault2">
        Woman
      </label>
    </div>
  </div>
  <div style="text-align: center"><b>Size of T-shirt </b></div>
  <div class="select-section">
    <select class="form-select" aria-label="Default select example" formControlName="select">
      <option name="size" value="S">S</option>
      <option name="size" value="M">M</option>
      <option name="size" value="L">L</option>
      <option name="size" value="LX">LX</option>
      required
    </select>

    <small
      *ngIf="fieldHasError('select', 'required')"
      class="form-text invalid-form-text"
    >
      Choose option!
    </small>
  </div>

  <div style="margin-top: 10px; text-align: center"><b>Comments</b></div>
  <div class="form-floating">
    <textarea formControlName="comment" style="width:500px" type="text" class="form-control"
              placeholder="Leave a comment here" id="floatingTextarea"
              maxlength="300"
    ></textarea>

    <small
      *ngIf="fieldHasError('comment', 'required')"
      class="form-text invalid-form-text"
    >
      Please leave a comment !
    </small>
  </div>


  <label><b>Skills</b></label>
  <button type="button" class="btn btn-secondary" (click)="addSkills()">Add skill</button>
  <div class="form-group" formArrayName="skills">
    <div style="margin-top: 10px" class="form-group" *ngFor="let skillControl of getSkillControls(); let i = index ">
      <div [formGroupName]="i" class="form-check-inline">
        <select formControlName="skills" class="form-control">
          <option value=""> Select your option</option>
          <option value="JavaScript">JavaScript</option>
          <option value="React">React</option>
          <option value="Angular">Angular</option>
        </select>

        <select style="margin-left:20px" formControlName="levels" class="form-control">
          <option value=""> Select your level</option>
          <option value="Basic"> Basic</option>
          <option value="Intermediate">Intermediate</option>
          <option value="Advanced">Advanced</option>
        </select>
      </div>
    </div>
  </div>


  <button class="btn btn-primary"
          type="submit"
          [disabled]="userForm.invalid"
  >{{ isEdit ? 'Edit ' : 'Send' }}
  </button>
</form>

