<div class="card mt-4" *ngIf="request" >
  <div class="card-body">
    <h5 class="card-title">{{ request.name }} </h5>
    <p class="card-text small">{{ request.surName }}</p>
    <p class="card-text small">{{ request.middleName }}</p>
    <p class="card-text small">{{ request.work }}</p>
  </div>
</div>
